@charset "UTF-8";
body{
	font: 11px "Arial";
}
div#bground{
	background-color: #e6f3fb;
	width: 270px;
	height: 660px;
}

h3.title{
	font-size: 12px;
	font-weight: bold;
	margin-left: 8px;
	padding-top: 5px;
}

div.frame{
	background-color: white;
	border-top: 2px solid #ffa500;
	margin: 0 8px;
}

div#text{
	padding: 5px 15px 0 0;
	height: 70px;
}

img#blogroll{
	border: 1px solid #cccccc;
	padding: 1px;
	width: 120px;
	height: 70px;
	margin: 0 5px 0 7px;
	float: left;
}

h3.nerve{
	padding-left: 20px;
	color: #0a6395;
}

ul#list{
	padding: 10px 0 1px;
}

ul li{
	background: #faf0bf;
	margin: 2px 0;
	padding: 7px;
}

strong.link_title{
	color: #0a6395;
}

a.link{
	color: #0a6395;
	text-decoration: none;
}

div#libra{
	margin: 25px 0 15px;
}

img#img_libra{
	float: left;
	width: 60px;
	height: 70px;
	margin: 0 12px 30px 10px;
}

h3#libra_title {
	font-weight: bold;
}

p#time{
	margin-bottom: 10px;
	color: #808080;
}

a#link_libra{
	color: #0a6395;
}

div#jonathan{
	background: url("../img/jonathan.jpg") no-repeat right bottom;
	background-size: 65px 45px;
	background-color: #F4F3EE;
	height: 45px;
}

p#jonathan_text{
	margin-left: 20px;
	padding-top: 10px;
}

a.title_blue{
	text-decoration: none;
	font-weight: bold;
	margin-left: 20px;
	color: #0a6395;
}

h3#title_mobile{
	font-size: 12px;
	margin: 20px 0 0 8px;
	font-weight: bold;
}

div#mobile_frame{
	background: url("../img/mobile.jpg") no-repeat right bottom;
	background-size: 110px 110px;
	background-color: white;
	border-top: 2px solid #ffa500;
	margin: 0 8px 8px;
	height: 110px;
}

p#mobile_text{
	padding: 30px 110px 5px 20px;
}

div#competitions_frame{
	border-top: 1px solid #cccccc;
	margin: 0 8px;
}

h3#competitions_title{
	font-weight: bold;
	padding-top: 5px;
}

div#competitions_text{
	border: 1px solid #dadada;
	background-color: white;
	padding: 6px;
}