@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*style bai tap de1*/
body{ 
	background-color: #2D2F35;
}
div#header{
	margin-left: 2%;
}
img.logo{
	width: 270px;
	height: 115px;
}

div#our_product{ 
	background:  url("../img/home_intro_image.jpg") no-repeat 690px bottom,
		   url("../img/bar.jpg") repeat-x left bottom;
	background-size: 525px 320px, 95px 103px;
	background-color: #25262B;
	border-top:  1px solid #51514f;
	border-bottom:  1px solid #51514f;
	padding-left:150px;
	height:310px;
}

h3.our_prd_title{ 
	color: yellow;
	font-family:	Courier New;
	font-size: 180%;
	font-weight: bold;
}

p.text{
	color: #d1cfca;
	font-family: verdana;
	font-size: 80%;
	width: 40%;
	margin-top: 30px;
	line-height: 1.2;
}

div#pic_4{
	background: url("../img/No1.gif") no-repeat 402px 33px,
		  url("../img/No2.gif") no-repeat 657px 33px,
		  url("../img/No3.gif") no-repeat 912px 33px,
		  url("../img/No4.gif") no-repeat 1167px 33px,
		  url("../img/port_thumb_point_progress.jpg") no-repeat 200px 30px,
		  url("../img/port_thumb_giant_impact.gif") no-repeat 455px 30px,
		  url("../img/port_thumb_marsh_johnson.jpg") no-repeat 710px 30px,
		  url("../img/port_thumb_vivio.jpg") no-repeat 965px 30px;
	background-size: 33px 30px, 33px 30px, 33px 30px,33px 30px, 
		         237px 110px, 237px 110px, 237px 110px, 237px 110px;
	border-bottom: 1px solid #51514f;
	height: 153px;
}

div#email{
	border-bottom: 1px solid #51514f;
	background: url("../img/home_services_bg_design.gif") no-repeat 430px 245px,
		 url("../img/home_services_bg_marketing.gif") no-repeat 790px 5px;
	background-size: 150px 150px, 155px 155px; 
} 

h4.h4_email_title{
	color: yellow;
	font-family:	Courier New;
	font-size: 160%;
	font-weight: bold;
}

td.email_text{
	color: #d1cfca;
	font-family: verdana;
	font-size: 80%;
	padding-left: 150px;
	padding-right: 60px;
	text-align: justify;
}

td.yahoo_text{
	color: #d1cfca;
	font-family: verdana;
	font-size: 80%;
	padding-left: 150px;
	padding-right: 60px;
	text-align: justify
}

div#footer{
	background: url("../img/bg_footer.gif") no-repeat 170px 10px;
	background-size: 1035px 80px;
	background-color: #24262A;
	height: 120px;
}

p.copy{
	color: #d1cfca;
	font-family: verdana;
	font-size: 80%;
	padding-left: 500px;
}
