@charset "UTF-8";
body{ 
	background-color: #2D2F35;
	margin:0;	
}

div#our_product{ 
	background:  url("../Image For Practice/home_intro_image.jpg") no-repeat 690px bottom,
		   url("../Image For Practice/bar.jpg") repeat-x left bottom;
	background-size:525px 320px, 95px 103px;
	background-color: #25262B;
	border-top:  1px solid #51514f;
	border-bottom:  1px solid #51514f;
	padding-left:150px;
	padding-right:0;
	height:310px;
}

h3#our_prd_title{ 
	color:yellow;
	font-family:	Courier New;
	font-size:180%;
	margin-top:0;
}

p#text{
	color:#d1cfca;
	font-family:verdana;
	font-size:80%;
	width:32%;
	padding-top:0;
	marin-top:0;
	padding-bottom:2%;
	margin-bottom:3%;
}

div#pic_4{
	background: url("../Image For Practice/No1.gif") no-repeat 402px 33px,
		  url("../Image For Practice/No2.gif") no-repeat 657px 33px,
		  url("../Image For Practice/No3.gif") no-repeat 912px 33px,
		  url("../Image For Practice/No4.gif") no-repeat 1167px 33px,
		  url("../Image For Practice/port_thumb_point_progress.jpg") no-repeat 200px 30px,
		  url("../Image For Practice/port_thumb_giant_impact.gif") no-repeat 455px 30px,
		  url("../Image For Practice/port_thumb_marsh_johnson.jpg") no-repeat 710px 30px,
		  url("../Image For Practice/port_thumb_vivio.jpg") no-repeat 965px 30px;
	background-size: 33px 30px, 33px 30px, 33px 30px,33px 30px, 
		         237px 110px, 237px 110px, 237px 110px, 237px 110px;
	border-bottom: 1px solid #51514f;
	height:153px;
}

div#email{
	border-bottom: 1px solid #51514f;
	background: url("../Image For Practice/home_services_bg_design.gif") no-repeat 430px 245px,
		 url("../Image For Practice/home_services_bg_marketing.gif") no-repeat 790px 5px;
	background-size: 150px 150px, 155px 155px; 
} 

h4.h4_email_title{
	color:yellow;
	font-family:	Courier New;
	font-size:160%;
	margin-top:0;
	margin-bottom:0;
}

td#email_text{
	color:#d1cfca;
	font-family:verdana;
	font-size:80%;
	padding-top:0;
	padding-left:150px;
	padding-right:60px;
	margin-top:0;
	text-align:justify;
}

p#p_email_text{
	margin-top:0;
	margin-bottom:2px;
}

td#yahoo_text{
	color:#d1cfca;
	font-family:verdana;
	font-size:80%;
	padding-left:150px;
	padding-right:60px;
	text-align:justify
}

div#footer{
	background: url("../Image For Practice/bg_footer.gif") no-repeat 170px 10px;
	background-size: 1035px 80px;
	background-color: #24262A;
	height:120px;
}

p#copy{
	color:#d1cfca;
	font-family:verdana;
	font-size:80%;
	padding-left:500px;
	margin-top:0;
	margin-bottom:0;
}

img#img_footer{
	padding-left:170px;
}