@charset"UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*style lythuyet2*/
body{
	font: 15px "Times New Roman";
}

div#bground{
	width:500px;
	border: 1px solid #d3d2cf;
	margin: 5px;
}

div#player_profile{
	background: url("../img/title_bg.gif") repeat-x top left;
	background-size: 30px 30px;
}

h3.title{
	font-weight: bold;
	font-size: 17px;
	margin-top: 2px;
	margin-bottom: 1px;
}

img.avatar{
	margin-right: 8px;
	width: 90px;
	height: 100px;
	float: left;
}

div#player_profile_text{
	overflow: scroll;
	margin: 0 3px 10px 7px;
	height: 100px;	
}

p.profile{
	font-size:16px;
}

div#facts{
	margin-bottom: 40px;
}


ul.list{
	padding-left: 36px;
	margin-top: 10px;
	list-style: inside;
	list-style-image: url('../img/start.gif');
}

p.comment_text{
	background-color: #ececec;
	margin: 0 2px;
	padding: 5px;
}

p.comment_poster{
	background: url("../img/comment_bg.gif") no-repeat 15px top;
	background-size: 30px 15px;
	padding-left: 50px;
}

a.link_poster{
	text-decoration: none;
}

div#your_cmt{
	margin-top: 20px;
}

table.your_cmt_form{
	width: 100%;
	margin-left: 2px;
}

td.title_items{
	width: 105px;
	vertical-align: middle;
}

td.info_comment{
	vertical-align: middle;
}

input.input_items{
	width: 145px;
}

textarea.comment_input{
	width: 383px;
	height: 70px;
  	resize: none;
}